@*@model BooksDTO*@
@model BookFormModel 

<form asp-controller="Books" asp-action="EditBook" method="post" role="form">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="@Model.BookForm.Id" />
    @*<input type="hidden" asp-for="@Model.BookForm.AuthorId" />*@
    @*<input type="hidden" asp-for="@Model.BookForm.AuthorName" />*@
    <input type="hidden" asp-for="@Model.BookForm.FirstName" />
    <input type="hidden" asp-for="@Model.BookForm.LastName" />
    <input type="hidden" asp-for="@Model.BookForm.SeriesId" />
    <input type="hidden" asp-for="@Model.BookForm.SeriesName" />
    <div class="form-group">
        <label asp-for="@Model.BookForm.Title"></label>
        <input asp-for="@Model.BookForm.Title" class="form-control" />
        <span asp-validation-for="BookForm.Title" class="text-danger"></span>
    </div>
    <select asp-for="@Model.BookForm.AuthorId" asp-items="@Model.Authors"></select>
    <div class="form-group">
        <label asp-for="@Model.BookForm.Description"></label>
        <input asp-for="@Model.BookForm.Description" class="form-control" />
        <span asp-validation-for="BookForm.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookForm.Rating"></label>
        <input asp-for="@Model.BookForm.Rating" class="form-control" />
        <span asp-validation-for="BookForm.Rating" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>