@model BookFormModel 

<form asp-controller="Books" asp-action="EditBook" method="post" role="form" enctype="multipart/form-data">

    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="@Model.BookForm.Id" />
    <input type="hidden" asp-for="@Model.BookForm.CoverArt" />
    <div class="form-group">
        <label asp-for="@Model.UploadedCoverArt" class="control-label"></label>
        <input asp-for="@Model.UploadedCoverArt" accept="image/*" />
        <span asp-validation-for="@Model.UploadedCoverArt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookForm.Title"></label>
        <input asp-for="@Model.BookForm.Title" maxlength="100" class="form-control" />
        <span asp-validation-for="BookForm.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select asp-for="@Model.BookForm.AuthorId" asp-items="@Model.Authors" id="AuthorsDropdown"></select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookForm.FirstName"></label>
        <input asp-for="@Model.BookForm.FirstName" maxlength="50" class="form-control" id="AuthorsFirstName" />
        <span asp-validation-for="BookForm.FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookForm.LastName"></label>
        <input asp-for="@Model.BookForm.LastName" maxlength="50" class="form-control" id="AuthorsLastName" />
        <span asp-validation-for="BookForm.LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookForm.Description"></label>
        <textarea asp-for="@Model.BookForm.Description" class="form-control"></textarea>
        <span asp-validation-for="BookForm.Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <select asp-for="@Model.BookForm.SeriesId" asp-items="@Model.Series" id="SeriesDropdown"></select>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookForm.SeriesName"></label>
        <input asp-for="@Model.BookForm.SeriesName" maxlength="100" class="form-control" id="SeriesName" />
        <span asp-validation-for="BookForm.SeriesName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.BookForm.Rating"></label>
        <input asp-for="@Model.BookForm.Rating" min="1" max="5" class="form-control" />
        <span asp-validation-for="BookForm.Rating" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

</form>