@model BookFormModel
@{
    ViewData["Title"] = $"{Model.BookForm.Title}";
}

<div class="card mb-3">
    <div class="row no-gutters">
        <div class="col-md-4">
            @if (Model.BookForm.CoverArt != null)
            {
                <img src="data:image;base64,@Convert.ToBase64String(Model.BookForm.CoverArt)" class="card-img" />
            }
            else
            {
                <img src="~/img/NoCoverArt.jpg" class="card-img" />
            }
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.BookForm.Title</h5>
                @if(Model.BookForm.AuthorId > 0)
                { 
                    <p>
                        <a class="btn btn-outline-primary" asp-controller="Authors" asp-action="Details"
                           asp-route-id="@Model.BookForm.AuthorId">@Model.BookForm.FirstName @Model.BookForm.LastName</a>
                    </p>
                }
                <p class="card-text">@Model.BookForm.Description</p>
                @if(Model.BookForm.SeriesId > 0)
                { 
                    <p>
                        <a class="btn btn-outline-primary" asp-controller="Series" asp-action="Details"
                           asp-route-id="@Model.BookForm.SeriesId">@Model.BookForm.SeriesName</a>
                    </p>
                }
                <p>
                    @for (var i = 0; i < Model.BookForm.Rating; i++)
                    {
                        <b>&#11088;</b>
                    }
                </p>
            </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#id-@Model.BookForm.Id">
                Edit
            </button>
            <div class="modal fade" id="id-@Model.BookForm.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <partial name="BookForm" model=@Model />
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#del-@Model.BookForm.Id">
                Delete
            </button>

            <div class="modal fade" id="del-@Model.BookForm.Id" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Delete Book</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to book?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a class="btn btn-danger" asp-controller="Books" asp-action="DeleteBook"
                               asp-route-id="@Model.BookForm.Id">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>